h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "AvenirNextCyrBold", sans-serif; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 30px;
  color: #272727; }

h3 {
  font-weight: normal; }

h4 {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "AvenirNextCyrBold", sans-serif; }

a {
  color: #3d3d3d;
  text-decoration: none; }

ul, ol {
  margin: 0; }

li {
  list-style: none; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.italic {
  font-style: italic; }

.bold {
  font-family: "AvenirNextCyrBold", sans-serif; }

.upper {
  text-transform: uppercase; }
