.c {
  background-color: #FFF; }

.c-1 {
  background-color: #D14D4E; }

.c-2 {
  background-color: #00B13E; }

.c-3 {
  background-color: #444368; }

.c-4 {
  background-color: #A86A6B; }

.c-5 {
  background-color: #2A9D1E; }

.c-6 {
  background-color: #D0BC5B; }

.c-7 {
  background-color: #0081A3; }

.c-8 {
  background-color: #7F3488; }

.c-9 {
  background-color: #A24848; }

.c-10 {
  background-color: #526E13; }

.c-11 {
  background-color: #00E28F; }

.c-12 {
  background-color: #AF2597; }

.c-13 {
  background-color: #F75EA1; }

.c-14 {
  background-color: #A11873; }

.c-15 {
  background-color: #A66EAF; }

.c-16 {
  background-color: #151515; }

.c-17 {
  background-color: #B36060; }

.c-18 {
  background-color: #A2AC37; }

.c-19 {
  background-color: #2C967A; }

.c-20 {
  background-color: #683132; }

.c-21 {
  background-color: #004163; }

.c-22 {
  background-color: #618718; }

.c-23 {
  background-color: #C68A8B; }

.c-24 {
  background-color: #FF43D3; }

.c-25 {
  background-color: #F9A8A8; }

.c-26 {
  background-color: #6928E2; }

.c-27 {
  background-color: #00E2DA; }

.c-28 {
  background-color: #AF42F5; }

.c-29 {
  background-color: #729214; }

.c-30 {
  background-color: #816E16; }

.c-31 {
  background-color: #66C8CE; }

.c-32 {
  background-color: #E59494; }

.c-33 {
  background-color: #831F57; }

.c-34 {
  background-color: #285C4D; }

.c-35 {
  background-color: #007FAD; }

.c-36 {
  background-color: #A9C4D5; }

.c-37 {
  background-color: #2BDCB9; }

.c-38 {
  background-color: #E147C4; }

.c-39 {
  background-color: #BEB041; }

.c-40 {
  background-color: #F3C0A8; }

.c-41 {
  background-color: #A78264; }

.c-42 {
  background-color: #6CB2B0; }

.c-43 {
  background-color: #7DB276; }

.c-44 {
  background-color: #00D3AB; }

.c-45 {
  background-color: #A28817; }

.c-46 {
  background-color: #838A38; }

.c-47 {
  background-color: #009666; }

.c-48 {
  background-color: #6CCA2A; }

.c-49 {
  background-color: #8E531C; }

.c-50 {
  background-color: #1B1986; }

.c-51 {
  background-color: #005D83; }

.c-52 {
  background-color: #91A861; }

.c-53 {
  background-color: #00694B; }

.c-54 {
  background-color: #F5A0D7; }

.c-55 {
  background-color: #3A7C6D; }

.c-56 {
  background-color: #7050A6; }

.c-57 {
  background-color: #009B96; }

.c-58 {
  background-color: #00A0C2; }

.c-59 {
  background-color: #865582; }

.c-60 {
  background-color: #00B53D; }

.c-61 {
  background-color: #575E44; }

.c-62 {
  background-color: #008A88; }

.c-63 {
  background-color: #713F70; }

.c-64 {
  background-color: #003D7A; }

.c-65 {
  background-color: #7A8B75; }

.c-66 {
  background-color: #CB88D0; }

.c-67 {
  background-color: #56795D; }

.c-68 {
  background-color: #007278; }

.c-69 {
  background-color: #884129; }

.c-70 {
  background-color: #AC3695; }

.c-71 {
  background-color: #009658; }

.c-72 {
  background-color: #FF1866; }

.c-73 {
  background-color: #44324F; }

.c-74 {
  background-color: #388B66; }

.c-75 {
  background-color: #A6633B; }

.c-76 {
  background-color: #303120; }

.c-77 {
  background-color: #005CD2; }

.c-78 {
  background-color: #FFAE2A; }

.c-79 {
  background-color: #ADCB31; }

.c-80 {
  background-color: #F85253; }

.c-81 {
  background-color: #00B736; }

.c-82 {
  background-color: #6D1377; }

.c-83 {
  background-color: #CE4CA0; }

.c-84 {
  background-color: #00ED81; }

.c-85 {
  background-color: #009F51; }

.c-86 {
  background-color: #009F98; }

.c-87 {
  background-color: #707B1E; }

.c-88 {
  background-color: #FD28B2; }

.c-89 {
  background-color: #6D7E30; }

.c-90 {
  background-color: #E1D28A; }

.c-101 {
  background-color: #B3D4D3; }

.c-102 {
  background-color: #EAB9E6; }

.c-103 {
  background-color: #CFB875; }

.c-104 {
  background-color: #00EB66; }

.c-105 {
  background-color: #FF8C8D; }

.c-106 {
  background-color: #564CFD; }

.c-107 {
  background-color: #E158EF; }

.c-108 {
  background-color: #732929; }

.c-109 {
  background-color: #D18889; }

.c-110 {
  background-color: #448862; }

.c-111 {
  background-color: #BFB45A; }

.c-112 {
  background-color: #F37C1E; }

.c-113 {
  background-color: #00D1C6; }

.c-114 {
  background-color: #D29DF6; }

.c-115 {
  background-color: #D7A353; }

.c-201 {
  background-color: #008379; }

.c-202 {
  background-color: #9E619A; }

.c-203 {
  background-color: #508C25; }

.c-204 {
  background-color: #905614; }

.c-205 {
  background-color: #603511; }

.c-206 {
  background-color: #080543; }

.c-207 {
  background-color: #400A49; }

.c-208 {
  background-color: #00412E; }

.c-209 {
  background-color: #6C2C48; }

.c-210 {
  background-color: #004D0E; }

.c-211 {
  background-color: #68601F; }

.c-212 {
  background-color: #3D2712; }

.c-213 {
  background-color: #004A46; }

.c-214 {
  background-color: #2B133D; }

.c-215 {
  background-color: #3C3D10; }
